#mysait{
	width:900px;
	outline:3px inset #DAA520;
	margin:  0px auto;
}

#head{
	width:900px;
	height: 80px;
	text-align: center;
	outline:3px inset #DAA520;
}

#menu{
	width:900px;
	height: 100%;
	text-align: center;
	outline:3px inset #DAA520;
}
#contentp{
	width: 900px;
    height: 40px;
    outline:3px inset #DAA520;
    text-align: center;
}
#content{
	width: 900px;
    height: 300px;
	outline: 3px inset #DAA520;
	text-align: center;
}
#footerp{
	width:900px;
	height: 40px;
    outline:3px inset #DAA520;
    text-align: center;
}
#footer{
	width:900px;
	height: 400px;
	outline: 3px inset #DAA520
	text-align: center;
}
#toppersp{
	width:900px;
	height: 40px;
    outline:3px inset #DAA520;
    text-align: center;
}
#toppers{
	width:900px;
	height: 600px;
	outline:3px inset #DAA520;
}
#vp{
	width:900px;
	height: 40px;
    outline:3px inset #DAA520;
    text-align: center;
}
#v{
	width:900px;
	height: 400px;
	outline:3px inset #DAA520;
	text-align: center;
}
body{
	background-color: #800000;
	color: #D2691E;
}
li:hover{color: #ff0000;
}
img{
	position: relative;
}
video{width: 200px;
      height: 300px;
}
ul{
	list-style: none;
	margin: 0 auto;
	padding-left: 0;

}
a {text-decoration: none;
   padding: 1em;
   border: 1px solid #000000;

}
li{display: inline;}
a:hover {background: #32CD32}